@import '../Variables/Variables.scss';

.homepage {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: url('../Background-img/Home/background-home-mobile.jpg');
    background-size: cover;

    .homepage__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-top: 6rem;

        .homepage__info__title-small {
            font-size: $sixteen;
            color: $light-blue;
            font-family: $barlow-condensed;
            letter-spacing: 0.3rem;
        }

        .homepage__info__title {
            font-size: $eighty;
            font-family: $bellefair;
            color: $white;
        }

        .homepage__info__para {
            font-size: $fifteen;
            text-align: center;
            line-height: 3rem;
            font-family: $barlow;
            color: $light-blue;
        }

        .homepage__info__title, .homepage__info__title-small {
            padding: 0rem 0rem 2rem 0rem;
        }
    }

    .homepage__button {
        padding: 7rem 4rem;
        border-radius: 50%;
        border: none;
        font-size: $twenty;
        font-family: $bellefair;
        color: $black;
    }
}

// Media Querys
@media screen and (min-width: 768px) {
    .homepage {
        background: url('../Background-img/Home/background-home-tablet.jpg');
        justify-content: space-evenly;

        .homepage__info {

            .homepage__info__title-small {
                font-size: $twenty;
            }

            .homepage__info__title {
                font-size: $onefifty;
            }

            .homepage__info__para {
                font-size: $sixteen;
                width: 58vw;
            }
        }

        .homepage__button {
            font-size: $thirtytwo;
            padding: 9.5rem 5rem;
        }
    }
}