@import "../Variables/Variables.scss";

.menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  transition: 0.3s;

  .menu {
    width: 68vw;
    backdrop-filter: blur(4rem);

    .menu__icon {
      display: flex;
      justify-content: flex-end;
      padding: 3rem 2rem;
    }

    .menu__list {
      list-style: none;
      margin-top: 3rem;

      .menu__list-item {
        font-size: $sixteen;
        padding: 3.3rem 0rem;
        font-family: $barlow-condensed;
        letter-spacing: $letter-spacing;

        .menu__list-link {
            text-decoration: none;
            color: $white;
        }

        .menu__list-item-number {
          font-weight: bolder;
        }
      }
    }
  }
}

// Media Query
@media screen and (min-width: 768px) {
    .menu-container {
        transform: translateX(0) !important;
        position: relative;
        width: auto;
        height: auto;

        .menu {
            backdrop-filter: none;
            display: flex;
            justify-content: flex-end;
            height: 9rem;

            .menu__icon {
              display: none;
            }

            .menu__list {
              margin-top: 0rem;
              background: $lightest-white;
              backdrop-filter: blur(10rem);
              display: flex;
              padding: 0rem;
              justify-content: space-evenly;
              align-items: center;
              width: 62vw;

              .menu__list-item {

                .menu__list-item-number {
                  display: none;
                }
              }

              .menu__list-item:hover {
                border-bottom: 3px solid $little-lighter-white;
              }
            }
        }
    }

    .menu-active {
      border-bottom: 3px solid $white !important;
      transform: border-bottom 0.3s !important;
    }
}

@media screen and (min-width: 1440px) {
  .menu-container {
    
    .menu {

      .menu__list {
        width: 58vw;

        .menu__list-item {

          .menu__list-item-number {
            display: inline-block;
            padding-right: 0.5rem;
          }
        }
      }
    }
  }
}