.carousel-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: break-spaces;
}

.hidden {
    display: none;
}

// Media Query 
@media screen and (min-width: 1440px) {
    .carousel-item {
        justify-content: flex-end;
        width: auto !important;
    }
}