@import '../Variables/Variables.scss';

@mixin planet {
    width: 45%;
    display: flex;
    height: 30rem;
    flex-direction: column;
    align-items: center;
}

@mixin planet__title {
    font-size: $fifty-six;
    color: $white;
    font-family: $bellefair;
}

@mixin planet__description {
    font-size: $fifteen;
    color: $light-blue;
    font-family: $barlow;
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

@mixin planet__line {
    width: 100%;
    border: 1px solid $dark-grey;
}

@mixin planet__travel__distance {
    width: 15rem;
    margin-top: 2rem;
    text-align: center;
}

@mixin planet__travel__distance__heading {
    font-size: $fourteen;
    color: $light-blue;
    font-family: $barlow-condensed;
    padding-bottom: 1rem;
}

@mixin planet__travel__distance__number {
    font-size: $twenty-eight;
    color: $white;
    font-family: $bellefair;
}

@mixin planet__travel__time {
    width: 15rem;
    text-align: center;
    margin-top: 2rem;
}

@mixin planet__travel__time__heading {
    font-size: $fourteen;
    font-family: $barlow-condensed;
    color: $light-blue;
    padding-bottom: 1rem;
}

@mixin planet__travel__time__number {
    font-size: $twenty-eight;
    font-family: $bellefair;
    color: $white;
}