@import '../Variables/Variables.scss';

@mixin tech {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin tech__title {
    color: $white;
    font-size: $twenty-four;
    font-family: $bellefair;
    padding-bottom: 2rem;
}

@mixin tech__info {
    color: $light-blue;
    text-align: center;
    font-size: $fifteen;
    font-family: $barlow;
    line-height: 3rem;
    width: 90vw;
}

// Media Query
@mixin for-tablet-tech__title {
    @media screen and (min-width: 768px) {
        font-size: $forty;
    }
}

@mixin for-tablet-tech__info {
    @media screen and (min-width: 768px) {
        font-size: $sixteen;
        width: 60vw;
    }
}

// Media Query for Desktop
@mixin for-desktop-tech {
    @media screen and (min-width: 1440px) {
        width: 100vw;
    }
}

@mixin for-desktop-tech__title {
    @media screen and (min-width: 1440px) {
        position: relative;
        width: 47rem;
        left: -20rem;
        bottom: 0;
        font-size: $fifty-six;
    }
}

@mixin for-desktop-tech__info {
    @media screen and (min-width: 1440px) {
        text-align: start;
        font-size: 1.8rem;
        position: relative;
        left: -20rem;
        width: 47rem;
        bottom: -2rem;
    }
}