// Colors
$white: white;
$lighter-white: rgba(255, 255, 255, 0.692);
$lightest-white: rgba(255, 255, 255, 0.056);
$black: #0B0D17;
$light-blue: #D0D6F9;
$dark-grey: #383B4B;

// Fonts
$barlow: "Barlow", sans-serif;
$barlow-condensed: "Barlow Condensed", sans-serif;
$bellefair: "Bellefair", serif;

// Font sizes
$oneseventy: 17rem;
$onefifty: 15rem;
$eighty: 8rem;
$fifty-six: 5.6rem;
$thirtytwo: 3.2rem;
$twenty-eight: 2.8rem;
$twenty-four: 2.4rem;
$twenty: 2rem;
$sixteen: 1.6rem;
$fifteen: 1.5rem;
$fourteen: 1.4rem;
$letter-spacing: .27rem;