// Colors
$white: white;
$black: #0B0D17;
$light-blue: #D0D6F9;

// Fonts
$barlow: "Barlow", sans-serif;
$barlow-condensed: "Barlow Condensed", sans-serif;
$bellefair: "Bellefair", serif;

// Font sizes
$eighty: 8rem;
$twenty: 2rem;
$sixteen: 1.6rem;
$fifteen: 1.5rem;
$fourteen: 1.4rem;