.main {
    background: url('../Background-img/background-destination-mobile.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main__destination {
        color: white;
    }

    .main__carousel {
        overflow: hidden;

        .main__carousel__inner {
            transition: transfrom 0.3s;
        }
    }
}
