@import "../Variables/Variables.scss";

.technology-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../Background-img/Technology/background-technology-mobile.jpg");
  background-size: cover;

  .technology-main__carousel {
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;

    .technology-main__carousel__title {
      color: $white;
      font-size: $sixteen;
      font-family: $barlow-condensed;
      letter-spacing: $letter-spacing;
      margin-bottom: 3rem;

      .technology-main__carousel__title-number {
        color: $dark-grey;
        padding-right: 1.5rem;
      }
    }

    .technology-main__carousel__inner {
      white-space: nowrap;
      transition: transform 0.3s;
    }

    .technology-main__carousel__img {
      margin-bottom: 3rem;

      .technology-main__carousel__img-image {
        width: 100vw;
        height: $oneseventy;
      }
    }

    .technology-main__carousel__buttons {
      margin-bottom: 3rem;
      width: 90vw;
      display: flex;
      justify-content: center;

      .technology-main__carousel__buttons-button {
        padding: 1.2rem 1.6rem;
        border-radius: 50%;
        border: none;
        margin-left: $sixteen;
        font-family: $bellefair;
      }
    }

    .technology-main__carousel__terminology {
      color: $light-blue;
      font-size: $fourteen;
      font-family: $barlow-condensed;
      letter-spacing: $letter-spacing;
    }
  }
}

// Media Query
@media screen and (min-width: 768px) {
  .technology-main {
    background: url('../Background-img/Technology/background-technology-tablet.jpg');

    .technology-main__carousel {

      .technology-main__carousel__title {
        width: 90vw;
        font-size: $twenty;
      }
      
      .technology-main__carousel__img {

        .technology-main__carousel__img-image {
          height: 31.1rem;
          margin-top: 4rem;
        }
      }

      .technology-main__carousel__buttons {

        .technology-main__carousel__buttons-button {
          font-size: $twenty-four;
          padding: 1.4rem 2.2rem;
        }
      }

      .technology-main__carousel__terminology {
        font-size: $sixteen;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .technology-main {
    background: url('../Background-img/Technology/background-technology-desktop.jpg');
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .technology-main {

    .technology-main__carousel {
      flex-direction: row;

      .technology-main__carousel__title {
        position: fixed;
        top: 20rem;
        left: 15rem;
        font-size: $twenty-eight;
      }

      .technology-main__carousel__inner {
        width: 100vw;
      }

      .technology-main__carousel__buttons-container {
        display: flex;
        height: 52vh;
        align-items: flex-end;


        .technology-main__carousel__buttons {
          flex-direction: column;
          width: auto;
          height: 30rem;
          z-index: 10;
          margin-bottom: 0;
          justify-content: space-evenly;
          position: fixed;
          left: 15rem;

          .technology-main__carousel__buttons-button {
            margin: 0;
            padding: 2.2rem 3.2rem;
            margin-top: 3rem;
            font-size: $thirtytwo;
          }
        }
      }

      .technology-main__carousel__terminology-container {
        position: fixed;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: flex-start;

        .technology-main__carousel__terminology {
          position: relative;
          left: 28rem;
        }
      }

      .technology-main__carousel__img {
        position: fixed;
        right: 0;
        bottom: 6rem;

        .technology-main__carousel__img-image {
          height: 52.7rem;
          width: 51.5rem;
        }
      }
    }
  }
}