@import '../Variables/Variables.scss';

.technology-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../Background-img/Technology/background-technology-mobile.jpg');
    background-size: cover;

    .technology-main__carousel {
        overflow: hidden;

        .technology-main__carousel__inner {
            white-space: nowrap;
            transition: transform 0.3s;
        }

        .technology-main__carousel__img-container {

            .technology-main__carousel__img {

                .technology-main__carousel__img-image {
                    height: $oneseventy;
                }
            }
        }
    }

}